* {
    font-family: sans-serif;
}

h1 {
    color: rgb(61, 61, 61);
}
.post {
    color: rgb(61, 61, 61);
    padding: 10px;
    margin: 5px;
    background-color: #f3f3f3;
    border-radius: 10px;
    border: 2px solid blueviolet;
    transition: all 0.15s;
}

.post:hover {
    cursor: pointer;
    box-shadow: 3px 3px rgb(55, 0, 71);
    translate: -3px -3px;
}

nav a {
    color: #d64161;
    font-size: 3em;
    margin-left: 50px;
    text-decoration: none;
}

.alert {
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffd5de;
}

.edit-button {
    text-decoration: none; /* Remove o sublinhado */
    display: inline-block; /* Garante que o link se comporte como um bloco */
    padding: 8px 16px; /* Adiciona um padding interno para espaço ao redor do texto */
    background-color: #f0f0f0; /* Cor de fundo */
    color: #333; /* Cor do texto */
    border: 1px solid #ccc; /* Borda */
    border-radius: 4px; /* Borda arredondada */
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Transições suaves */
}

.edit-button:hover {
    background-color: #e0e0e0; /* Cor de fundo ao passar o mouse */
    color: #555; /* Cor do texto ao passar o mouse */
    border-color: #bbb; /* Cor da borda ao passar o mouse */
}
