* {
    font-family: sans-serif;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 0;
}
/* 
┌──────────────────────────────────────────────────────────────────────────┐
│   NAV TOP MENU                                                           │
└──────────────────────────────────────────────────────────────────────────┘
*/
nav {
    background-color: #433D8B;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;
    height: 50px;

    box-shadow: 3px 0px 5px 5px #808080;
}

nav a {
    color: #ff6889;
    font-size: 2em;
    margin-left: 50px;
    text-decoration: none;
    transition: all 0.3s;
}

nav a:hover {
    color: #ff9cb1;
    transform: scale(1.1);
}
/* 
┌──────────────────────────────────────────────────────────────────────────┐
│   CENTRAL CONTENT                                                        │
└──────────────────────────────────────────────────────────────────────────┘
*/
.content {
    width: 80%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    margin-top: 10px;

    overflow-y: scroll;
}

.content h1 {
    color: #17153B;
    margin: 0;
}
/* 
┌──────────────────────────────────────────────────────────────────────────┐
│   POST CARD                                                              │
└──────────────────────────────────────────────────────────────────────────┘
*/
.post {
    color: #2E236C;
    width: 90%;
    padding: 10px;
    margin: 5px;
    background-color: #fff5f7;
    border-radius: 5px;
    border: 2px solid #433D8B;
    transition: all 0.15s;
    position: relative;
}

.post:hover {
    cursor: pointer;
    box-shadow: 3px 3px #685bfa;
    translate: -3px -3px;
}

.red-alert {
    padding: 20px;
    margin: 5px;
    color: #ff0037;
    border-radius: 5px;
    border-bottom: 2px solid #ff0037;
    background-color: #ffadbf;
}

.created-at {
    padding: 2px;
    margin: 5px;
    position: absolute;
    font-size: 0.9rem;
    text-align: right;
    color: #7774a7;
    bottom: 0;
    right: 0;
}

.edit-button {
    padding: 5px;
    font-size: 1.1rem;
    color: #17153B;
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    /* A borda desse botao ficou muito estilosa */
    border-left: 2px solid #433D8B;
    border-bottom: 2px solid #433D8B;
    border-radius: 0 0 0 5px;
    /* Mesmo com display flex posso usar position relative */
    position: absolute;
    top: 0;
    right: 0;
    transition: all 0.3s ease; 
}

.edit-button:hover {
    background-color: #7363ca;
    color: #FFF;
}

/* 
┌──────────────────────────────────────────────────────────────────────────┐
│   CREATE FORM                                                            │
└──────────────────────────────────────────────────────────────────────────┘
*/
form {
    color: #2E236C;
    background-color: #fff5f7;
    border: 2px solid #433D8B;
    padding: 20px;
    border-radius: 5px;
    width: fit-content;
    margin: 20px auto;
    font-family: Arial, sans-serif;
}

input {
    outline: none;
}

form label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 2px solid #433D8B;
    border-radius: 5px;
    box-sizing: border-box;
}

form input[type="text"] {
    height: 40px;
}

form textarea {
    resize: none;
}

form button[type="submit"], 
.buttom-form button {
    padding: 10px;
    color: #17153B;
    background-color: transparent;
    border: 2px solid #433D8B;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

form button[type="submit"]:hover, 
.buttom-form button:hover {
    background-color: #7363ca;
    color: #FFF;
}
/* 
┌──────────────────────────────────────────────────────────────────────────┐
│   ABOUT                                                                  │
└──────────────────────────────────────────────────────────────────────────┘
*/
.about-content {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 5px;
    background-color: #fbf2ff;
    border-radius: 5px;
    border: 2px solid #c3beff;
}
.about-content p {
    width: 100%;
    font-size: 1.5rem;
    color: #7e6ce0;
}