* {
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    position: relative;
}

nav {
    background-color: #433D8B;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 100%;

    position: absolute;
    top: 0;
    right: 0;
}

nav a {
    color: #ce3c5c;
    font-size: 2em;
    margin-left: 50px;
    text-decoration: none;
    transition: all 0.3s;
}

nav a:hover {
    color: #ff7392;
    transform: scale(1.1);
}


.content {
    width: 80%;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    margin-bottom: 10px;
}

.content h1 {
    color: #17153B;
}

.post {
    color: #2E236C;
    padding: 10px;
    margin: 5px;
    background-color: #fff5f7;
    border-radius: 5px;
    border: 2px solid #433D8B;
    transition: all 0.15s;

    position: relative;
}

.post:hover {
    cursor: pointer;
    box-shadow: 3px 3px #877dec;
    translate: -3px -3px;
}

.alert {
    padding: 20px;
    margin: 5px;
    color: #970020;
    background-color: #ffb8c7;
}

.edit-button {
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    background-color: transparent;
    color: #17153B;

    border-left: 2px solid #433D8B;
    border-bottom: 2px solid #433D8B;
    border-radius: 0 0 0 5px;
    

    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; 

    position: absolute;
    top: 0;
    right: 0;
}

.edit-button:hover {
    background-color: #5f4fb9;
    color: #FFF;
}
