<!-- 
 Este é o template base que define a estrutura comum para todas as páginas do seu aplicativo. 
 Ele contém os elementos HTML padrão, como a definição do doctype, a seção head e o corpo da página. 
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="{{ url_for('index') }}">Posts</a>
        <a href="{{ url_for('create') }}">Create</a>
        <a href="#">About</a>
    </nav>

    <div class="content">
        {% for message in get_flashed_messages() %}
            <div class="alert">{{ message }}</div>
        {% endfor %}
        <!--
        O bloco block content endblock dentro da div content é um espaço reservado.
        Esse espaço será preenchido com conteúdo específico definido em templates filhos, como index.html
        ou create.html
        -->
        {% block content %} {% endblock %}
    </div>
</body>
</html>